##############################################
# ✅ Node.js
##############################################

node_modules/
build/
dist/
.cache/
.tmp/
*.log
*.tsbuildinfo

##############################################
# ✅ Strapi
##############################################

public/uploads/
!public/uploads/.gitkeep

.env
.env.*

##############################################
# ✅ OS & Editors
##############################################

.DS_Store
Thumbs.db

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp

##############################################
# ✅ Test / Coverage (لو استخدمتهم لاحقًا)
##############################################

coverage/
lib-cov/
pids/
logs/
results/

##############################################
# ✅ Git related
##############################################

*.orig
*.rej
